/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.center { 
  margin: 0 auto; 
}

.content { 
  margin: 0 auto; 
  width: 960px; 
}

.clear { 
  clear: both; 
}

.profile {
  max-width: 25em;
}

.headshotInfo {
  /* float: left; */
  margin-left: 50px !important;
}

/* --- SOCIAL MEDIA ICONS --- */

.socials svg {
  padding-right: 20px;
}

.socials a:link{
  color: black;
}
.socials a:visited{
  color: black;
}
.socials a:hover{
  color: black;
}
.socials a:focus{
  color: black;
}
.socials a:active{
  color: black;
}

/*  --- OPTIONS --- */

.options {
  clear: both;
}

.me {
  border: 3px solid black;
  border-radius: 50%;
  height: 125px;
  width: auto;
  float: left;
}

#home {
  background-color: #fff;
  color: #333333;
  height: 300px;
  margin: 0 auto;
  overflow: hidden;
  padding: 200px 0;
}

#about {
  background-color: #fff;
  color: #333333;
  height: 300px;
  margin: 0 auto;
  overflow: hidden;
  padding: 200px 0;
}

#blog {
  background-color: #fff;
  color: #333333;
  height: 300px;
  margin: 0 auto;
  overflow: hidden;
  padding: 200px 0;
}

#contact {
  background-color: #fff;
  color: #333333;
  height: 300px;
  margin: 0 auto;
  overflow: hidden;
  padding: 200px 0;
}

#projects {
  background-color: #fff;
  color: #333333;
  height: 300px;
  margin: 0 auto;
  overflow: hidden;
  padding: 200px 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
