.App {
  height: 100vh;
}

.page-content.entry-content pre {
  white-space: normal !important;
  }

.clear { 
  clear: both; 
}

/* --- HOME --- */

.nameBanner {
  position: relative;
  top: 25%;
}

span.homeName {
  color: rgb(237, 234, 229);
  /* font-family: 'Permanent Marker', cursive; */
  font-family: 'Berkshire Swash', cursive;
  font-size: 5vh;
}

/* --- SOCIAL MEDIA ICONS --- */

.name {
  height: 100%;
  font-size: 1.5em;
  display: flex;
  align-items: center;
}

.socialsCol {
  padding-left: 0px;
}

.socials {
  height: 100%;
  display: flex;
  align-items: center;
}

.socialsContact {
  height: 100%;
  display: flex;
  align-items: center;
}

span.divider {
  flex: 1;
  border-bottom: 2px solid rgb(237, 234, 229);
  margin: 0px
}

span.spacer {
  margin: 2%;
}

.socials, a:link,
.socialsContact, a:link {
  color: rgb(237, 234, 229);
}
.socials, a:visited,
.socialsContact, a:visited{
  color: rgb(237, 234, 229);
}
.socials, a:hover,
.socialsContact, a:hover{
  color: rgb(237, 234, 229);
}
.socials, a:focus,
.socialsContact, a:focus{
  color: rgb(237, 234, 229);
}
.socials, a:active,
.socialsContact, a:active{
  color: rgb(237, 234, 229);
}

/*  --- OPTIONS --- */

.content{
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  align-content: center;
  width: 75%
}

.contentRow{
  /* display: inline-flex; */
}

.options {
  clear: both;
}
.headshotCol {
  padding-right: 0px;
}

.headshot {
  display: inline-flex;
}

.me {
  border: 2px solid rgb(237, 234, 229);
  border-radius: 50%;
  /* height: 10em; */
  height: 100%;
  max-height: 200px;
  width: 100%;
  /* max-width: 180px; */
  
  /* float: left; */
}

.navBar {
  background: rgb(28, 24, 24);
}

.navBar .nav-link {
  color: rgb(237, 234, 229) !important;
}

#home {
  background-color: rgb(28, 24, 24);
  /* display: flex; */
  color: #333333;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  /* padding: 200px 0; */
}

#about {
  background-color: rgb(237, 234, 229);
  color: #333333;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 5%;
  /* padding: 200px 0; */
}

#blog {
  background-color: rgb(237, 234, 229);
  color: #333333;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  /* padding: 200px 0; */
}

#contact {
  background-color: rgb(28, 24, 24);
  color: rgb(237, 234, 229);
  height: 20vh;
  margin: 0 auto;
  overflow: hidden;
  
  /* padding: 200px 0; */
}

#projects {
  background-color: rgb(237, 234, 229);
  color: #333333;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  /* padding: 200px 0; */
}

.sectionTitle {
  font-size: 3em;
  font-weight: bold;
}

.headerTitle {
  font-weight: bold;
}

.navLink {
  font-weight: bold;
}

/* --- PROJECTS --- */

.projectBox {
  background: rgb(28, 24, 24);
  color: rgb(237, 234, 229);
  border: 1px solid black;
  border-radius: 3.5px;
  height: 200px;
  padding: 2.5%;
  /* height: 85%; */
}

.contactBlock {
  text-align: center;
}

.jumpToTop {
  position: fixed;
  bottom: 4;
  z-index: 1;
}

@media (max-width: 805px) {
  #contact {
    padding-top: 1%;
    height: 15vh;
  }

  .contactTitle {
    display: none;
  }

  .location {
    display: none;
  }
}

@media (max-width: 576px)  {
  #contact {
    padding-top: 1%;
    height: 15vh;
  }

  .contactTitle {
    display: none;
  }

  .location {
    display: none;
  }

}
