.App {
  /* text-align: center; */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  height: 100vh;
  /* display: flex; */
}

.page-content.entry-content pre {
  white-space: normal !important;
  }

.clear { 
  clear: both; 
}

/* --- SOCIAL MEDIA ICONS --- */

.name {
  height: 100%;
  font-size: 1.5em;
  display: flex;
  align-items: center;
}

.socialsCol {
  padding-left: 0px;
}

.socials {
  height: 100%;
  display: flex;
  align-items: center;
}

span.divider {
  flex: 1;
  border-bottom: 2px solid black;
  margin: 0px
}

.socials svg {
  /* padding-right: 20px; */
}

.socials a:link{
  color: black;
}
.socials a:visited{
  color: black;
}
.socials a:hover{
  color: black;
}
.socials a:focus{
  color: black;
}
.socials a:active{
  color: black;
}

/*  --- OPTIONS --- */

.content{
  display: flex;
  /* flex-flow: column; */
  /* flex-wrap: wrap; */
  width: 85%
}

.contentRow{
  /* display: inline-flex; */
}

.options {
  clear: both;
}
.headshotCol {
  padding-right: 0px;
}

.headshot {
  display: inline-flex;
}

.me {
  border: 2px solid black;
  border-radius: 50%;
  /* height: 10em; */
  height: 100%;
  width: 100%;
  float: left;
}

#home {
  background-color: #rgb(237, 234, 229);
  /* display: flex; */
  color: #333333;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  /* padding: 200px 0; */
}

#about {
  background-color: #rgb(237, 234, 229);
  color: #333333;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  /* padding: 200px 0; */
}

#blog {
  background-color: #rgb(237, 234, 229);
  color: #333333;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  /* padding: 200px 0; */
}

#contact {
  background-color: #rgb(237, 234, 229);
  color: #333333;
  height: 25vh;
  margin: 0 auto;
  overflow: hidden;
  /* padding: 200px 0; */
}

#projects {
  background-color: #rgb(237, 234, 229);
  color: #333333;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  /* padding: 200px 0; */
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
